@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root{
  --header-text-color: #3a3a3a;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    width: 1200px;
    margin: 0 auto;
    padding: 20px 10px 0 10px;
    border-left: 3px solid rgba(10, 8, 38, 1);
    border-right: 3px solid rgba(10, 8, 38, 1);
  }


 /* nav bar */
  .brand-name{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--header-text-color);
  }

  nav> ul> li> a{
    text-decoration: none;
    color: var(--header-text-color);
  }

  nav> ul> li{
    list-style: none;
  }

   .nav-bar-list{
    display: flex;
    gap: 1.5rem;
    font-weight: 600;
    align-items: center;
   }

   .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   }

   nav> ul> li> a:hover{
    color: rgba(224, 44, 109, 1);
    border-bottom: 5px solid rgba(224, 44, 109, 1);
    padding-bottom: 5px;
   }

   .nav-bar-list-separator{
      display: flex;
      gap: 1.5rem;
    }
    .nav-bar-list-separator> li{
      list-style: none;
    }
    .nav-bar-list-separator> li> a{
      text-decoration: none;
      color: var(--header-text-color);
    }
    /* responsive nav bar */

   @media screen and (max-width: 576px) {
    body{
      width: 100%;
      padding: 20px 10px 0 10px;
    }
    .nav-bar{
      flex-direction: column;
      gap: 1rem;
    }
    .nav-bar-list{
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      padding: 0;
    }
    .nav-bar-list-separator{
      display: flex;
      gap: 1rem;
    }
    .nav-bar-list-separator> li{
      list-style: none;
    }
    .nav-bar-list-separator> li> a{
      text-decoration: none;
      color: var(--header-text-color);
    }

   }

 /* hero section */
.hero-section{
  max-width: 1188px;
  margin: 0 auto;

  /* background image */

  background-image: url('images/Circle\ design.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  
/* flex layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.563rem;
  margin-bottom: 69px;


}

 .hero-section-content{
  max-width: 582px;
 }

 .hero-section-heading{
  font-size: 3.25rem;
  font-weight: 700;
  color: var(--header-text-color);
  margin: 0;
  }
  .hero-section-subheading{
    font-size: 1rem;
    font-weight: 600;
    color: var(--header-text-color);
    margin:0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    
  }

  .hero-section-button{
    background-color: rgba(224, 44, 109, 1);
    color: white;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    
    padding: 0.625rem 1.5rem;
    border-radius: 2.563rem;
    text-decoration: none;
    
    
  }

  .hero-section-button:hover{
    background-color: rgba(224, 44, 109, 0.8);
    
  }
  

  /* hero section  responsive */
  @media screen and (max-width: 768px) {
    .hero-section {
      
      flex-direction: column-reverse;
      text-align: center;
      align-items: center;
      justify-content: center;
      
      background-position: top;
    
      gap: 1.25rem;
    }
  

    .hero-section-image {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .hero-section-image img{
    width: 100%;
    display: block;
}

     .hero-section-heading{
      font-size:1.7rem;
     }

    

  }



  /* brands section */

  .brand-logos{
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 50px;
    justify-items: center;
    align-items: center;
  }
  
  /* responsive brand logos */
  @media screen and (max-width: 768px) {
    .brand-logos {
      grid-template-columns: repeat(4, 1fr);
      gap:30px;
      margin-left:42px;
      margin-right:42px;
      


    }

    .brand-logos img{
      width: 100%;
      height: auto;
    }
  }

  /* 2nd hero section */

.hero-section-2nd{
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 200px;
}



.hero-heading-2nd{
  font-size: 2.375rem;
  font-weight: 700;
  color: rgba(10, 8, 38, 1);
  margin: 0;
}

.hero-content-2nd{
  max-width: 582px;
  margin-bottom: 20px;
}

.hero-subheading-2nd{
  font-size: 1rem;
  font-weight: 700;
  color: rgba(108, 108, 108, 1);
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.hero-button-2nd{
  background-color: rgba(224, 44, 109, 1);
  color: white;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  
  padding: 0.625rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  
}

.hero-button-2nd:hover{
  background-color: rgba(224, 44, 109, 0.8);
  
}


/* 2nd hero section responsive */
@media screen and (max-width: 768px) {
  .hero-section-2nd {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .hero-heading-2nd {
    font-size: 1.75rem;
  }

 .hero-image-2nd img{
    width: 80%;
    
  }

}

/* footer */
footer{
  background-color: rgba(10, 8, 38, 1);
  padding: 3.2rem;
  text-align: center;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}
 
.footer-content{
  color: white;
}

.socials{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.socials li{
  list-style: none;
}

.socials li a{
  text-decoration: none;
  color: white;
}

.footer-title{
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}


.footer-rights, .footer-description{
  font-size:0.9rem;
  color: white;
  font-weight: 700;
}

.footer-description{
  margin-top:3px;
  margin-bottom: 3px;
}

.socials{
  margin-top: 1rem;
  margin-bottom: 0;
}
